
html {
    display: block;
}

body {
    display: block;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 25%;
    height: 1000px;
    background-color: #e7e8ea;
    margin-top: -24px;
    display: inline-block;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;

}

h1 {
    font-family: helvetica;
    font-weight: bold;
    padding-left: 0.6rem;
    color: #8e8f91;
}

.roomslist {
    font-family: Roboto;
    padding-left: 2rem;
    padding-top: 13px;
    color: darkgray;
}

.btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 3px;
}

.btn-new {
  background-color: #f6f7fb;
  color: #8e8f91;

}

.modal {
    width: 300px;
    height: 200px;
    background-color: #d8d8d8;
    position: fixed;
    top: 30px;
    left: 500px;
}

.modal-content {
  width: 80%;
  height: 200px;
  margin: auto;
}

#modal-prompt p {
  color: #979797;
  margin-bottom: 0.5em;
}

#modal-label {
  color: #4a494b;
}

.modal-input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: none;
}

.btn-cancel, .btn-create {
  width: 49%;
  height: 35px;
  border-radius: none;
}

.btn-create {
  background-color: #979797;
  color: white;
}

.btn-cancel {
  color: #979797;
}

.modal-buttons {
  justify-content: space-between;
}

.roomslist:hover {
  cursor: pointer;
}

.room-messages {
  position: relative;
  width: 75%;
  float: right;
}

.room-name {
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: helvetica;
  font-weight: lighter;
}

.messages {
  padding-left: 20px;
  margin-bottom: 20px;
}

.username {
  font-weight: bold;
}

.sentAt {
  float: right;
  font-style: italic;
  color: lightgrey;
}

.empty {
  margin-top: 25px;
  border-bottom: 1px solid lightgrey;
}

.username-modal {
  width: 300px;
  height: 225px;
  background-color: #d8d8d8;
  position: fixed;
  top: 30px;
  left: 500px;
}

.message-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 55px;
  display: flex;
  flex-direction: row;
}

.message-bar input {
  height: 100%;
  width: 90%;
  background-color: #f2f2ff;
  font-size: 1em;
  border: 1px solid lightgrey;
  padding-left: 20px;
}

.message-bar button {
  width: 10%;
  height: 100%;
  font-size: 1em;
  background-color: #4a4a4a;
  color: white;
  border: 1px solid #4a4a4a;
}
