<div id="sidebar">

    <div class="header">
        <h1>Bloc Chat</h1>
        <div>
          <button type="button" class="btn btn-new" ng-click="home.RoomModal()">New Room</button>
        </div>
    </div>

    <div class="roomslist" ng-repeat="room in home.rooms">
      <p ng-click="home.setActiveRoom(room)">{{room.name}}</p>
    </div>

</div>



<div class ="room-messages">
    <div class="room-name"><h2>{{home.activeRoom.name}}</h2></div>
    <div class="messages" ng-repeat="message in home.messages">

        <div class="username">{{message.username}}</div>
        <div class="content">{{message.content}}</div>

        <div class="sentAt">{{message.sentAt}}</div>
        <div class="empty"></div>
    </div>
</div>

<div class="message-bar">
  <input type="text" name="message-content" placeholder="Write Your Message Here..." class="messageContent" ng-model="home.newMessage.content">
  <button class="sendMessage" type="button" ng-click="home.sendMessage()">Send</button>
</div>

<ui-view></ui-view>
